.chat{
    height: 95vh;
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-header{
    display: flex;
    gap: 10px;
    align-items: center;
}

.bubble-header{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}

.chat-header h2{
    font-size: 13px;
}

.chat-area{
    height: 70%;
    background-color: rgba(128, 128, 128, 0.096);
    border-radius: 5px;
    overflow-y: auto;
    background: url("../src/assets/chat.avif");
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    padding:5px;

    &::-webkit-scrollbar{
        background-color: black;
        width:2px
    }

    &::-webkit-scrollbar-button{
        display: none;
    }
}

.me{
    margin-left: auto;
}

article{
    padding: 5px;
    margin: 0 0 10px 0;
    width: fit-content;
    max-width: 70%;
    min-width:13%;
}

.message-header{
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
    font-size: 10px;
    color: white;
}

h4{
    margin: 0 !important;
}

.message-body{
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;
    word-wrap:break-word;
    line-height: 20px;
    font-size: 12px;
}

p{
    padding: 0 !important;
    margin: 0 !important;
}

.receiver{
    background-color: rgb(28, 71, 109);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
  
.me{
    background-color: rgb(36,144,85);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}

.message-input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

.message{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.message input{
    width: 100%;
    outline: 1px solid rgba(128, 128, 128, 0.3);
}

.message input:focus{
    outline: 1px solid rgba(128, 128, 128, 0.61);
}

.message-input button{
    padding: 1px;
}

.send-msg{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-msg i{
    font-size: 25px;
    margin-top: 5px;
}
